.primary-btn {
    background: var(--color-secondary);
    color: var(--color-support-2);
}

.primary-btn:hover {
    background: var(--color-primary);
    color: var(--color-support-2);
}

.secondary-btn {
    background: var(--color-primary);
    color: var(--color-support-2);
}

.secondary-btn:hover {
    background: var(--color-secondary);
    color: var(--color-support-2);
}