/* btns */

.btn {
    display: inline-block;
    padding: 10px 25px 10px 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

/* header */

.header .row, .header {
    align-items: center;
}

/* nav */

.nav-menu {
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    display: inline;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.nav-item:last-child .nav-link{
    padding-right: 0;
}

.nav-item:first-child .nav-link{
    padding-left: 0;
}

/* sections */

.section {
    padding: var(--gap-lg);
}