/* btns */

.btn {
    display: inline-block;
    padding: 10px 25px 10px 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

@media (max-width: 576px) {
    .sobre-home .btn {
        margin-bottom: var(--gap-md);
    }
}

/* header */

.header .row, .header {
    align-items: center;
}

/* nav */

.nav-menu {
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    display: inline;
    text-transform: uppercase;
    letter-spacing: .1em;
}

@media (max-width: 768px) {
    /* ajustes menu responsivo */
    .nav-menu {
        display: block;
    }
    
    .nav-item {
        display: block;
	    padding: 0px;
	    margin: 0px;
	    border-top: 2px solid;
    }

    .nav-link {
        display: block;
	    float: none;
	    padding: 10px;
	    margin: 0px;
	    border: none;
	    min-width: 140px;
    }
}

.nav-item:last-child .nav-link{
    padding-right: 0;
}

.nav-item:first-child .nav-link{
    padding-left: 0;
}

/* sections */

.section {
    padding: var(--gap-lg);
}